.ant-select-selector
    background-color: #2b3343 !important
    // height: 36px !important
    border-radius: 5px !important
    box-shadow: none !important
    border: none !important
    width: 100% !important
    padding-top: 3px !important
    padding-bottom: 4px !important
    // height: 100% !important
    min-height: 36px !important
    line-height: 1.5 !important
    color: white !important
    overflow-y: auto
    overflow-x: hidden
    text-overflow: ellipsis
    font-size: 16px !important
    font-family: "Istok Web", sans-serif !important
    max-height: 108px

.ant-select-selection-search-input
    height: 100% !important
    overflow: hidden
    width: 100% !important

.ant-select-selection-placeholder
    background-color: #2b3343 !important
    color: #7b8089 !important
    margin-top: 1px

.ant-select-arrow
    cursor: pointer !important
    background-color: #2b3343 !important
    color: #7b8089 !important
    margin-top: -6px !important

.ant-select-dropdown
    background-color: #2b3343 !important
    // color: white !important
    overflow-x: hidden!important
    position: absolute
    z-index: 13

.ant-select-selection
    background-color: #2b3343 !important

.ant-select-clear
    color: white !important
    right: 40px !important
    transform: translateY(-6px) !important
    background: transparent !important
    font-size: 14px !important

    & > span > svg
        fill: gray !important

.rotateIcon
    margin-top: -6px !important
    transform: rotate(180deg)

.ant-select-tree
    background: #2b3343 !important

.ant-select-tree-treenode
  width: 100%!important
  overflow: hidden!important

.ant-select-tree-node-content-wrapper
  background: #597eb7 !important
  width: 100%!important
  text-overflow: ellipsis!important

.ant-select-tree-node-content-wrapper:hover
  background: #597eb7 !important

.ant-select-tree-treenode-active .ant-select-tree-node-content-wrapper
  background: #597eb7 !important
  border: none !important
  box-shadow: none !important
  outline: 0 !important

.ant-select-tree-node-content-wrapper-normal
    background-color: #2b3343 !important
    padding: 0 4px!important
    display: flex
    align-items: center
    height: 32px!important
    width: 230px!important
    text-overflow: ellipsis!important
    overflow: hidden!important

.ant-select-tree-node-content-wrapper-open
    background-color: #2b3343 !important
    display: flex
    align-items: center
    height: 32px!important
    text-overflow: ellipsis!important
    overflow: hidden!important

.ant-select-tree-node-content-wrapper-close
  background-color: #2b3343 !important
  padding: 0 4px!important
  display: flex
  align-items: center
  height: 32px!important
  // border: 1px solid yellow!important
  text-overflow: ellipsis!important
  overflow: hidden!important

.ant-select-tree-list-holder
  background-color: #2b3343 !important
  color: inherit

.ant-select-tree-switcher
  background-color: #2b3343 !important
  color: white !important

.ant-select-tree-title
  color: white !important
  // width: 230px!important
  text-overflow: ellipsis!important
  overflow: hidden!important

.ant-select-tree-node-selected
  display: flex
  align-items: center
  height: 32px!important
  padding: 0 4px!important
  background: #597eb7 !important
  font-size: 16px !important
  border-radius: unset !important
  font-family: "Istok Web", sans-serif !important
  border-radius: 5px!important
  // width: 230px!important
  text-overflow: ellipsis!important
  overflow: hidden!important

.ant-select-tree-title
  font-size: 16px !important
  font-family: "Istok Web", sans-serif !important
  line-height: 24px !important

.ant-select-item
  background-color: #2b3343 !important
  color: white !important
  border: 2px solid #2B3343 !important
  padding: 4px 8px !important
  border-radius: 5px !important

// .rc-virtual-list-holder-inner
//     row-gap: 4px!important

.ant-select-item-option-selected
  background-color: #597EB7 !important
  color: white !important

.ant-select-open:not(.ant-select-multiple) .ant-select-selection-item
  opacity: .3!important
  color: white !important

.ant-select-item-option-active
  background-color: #597EB7 !important
  color: white !important

.ant-select-multiple .ant-select-selection-item
  background-color: #597EB7 !important

.ant-select-multiple .ant-select-selection-item-remove >.anticon
  vertical-align: 0 !important
  color: white !important

.form-disabled > *, .form-disabled .ant-select-selection-placeholder
  background: #30405B !important
  color: rgba(255, 255, 255, 0.3) !important



